{namespace qx=Qinx\Qxgo\ViewHelpers}

<div id="header" class="outer outer--lining">
	<div class="inner">
		<div class="row">
			<div id="logo" class="col-xs-12 col-sm-2">
				<a href="{f:cObject(typoscriptObjectPath: 'lib.url.home')}" title="{f:translate(key: 'LLL:EXT:qxgo/Resources/Private/Language/locallang.xlf:layout.logo.title')}">
					<qx:sprite symbol="logo" width="180" height="51" />
				</a>
			</div>

			<div id="header--search" class="col-xs-12 col-sm-7">
				<form method="get" action="/search/">
					<input class="form-field" name="q" value="" placeholder="Suchen">
					<button class="button-icon">
						Suchen
					</button>
				</form>
			</div>

			<div id="header--actions" class="col-xs-12 col-sm-3">
				<ul>
					<li>
						<nav id="navigation-language">
							<div>DE</div>
							<ul>
								<li>EN</li>
								<li>CN</li>
							</ul>
						</nav>
					</li>
					<li>
						Login
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="inner">
		<div id="navigation-main">
			<f:cObject typoscriptObjectPath="navigation.main"/>
		</div>
	</div>
</div>

<f:comment>
<div class="outer">
	<div class="inner indent-normal">

		<form method="get" action="." style="max-width: 500px; padding: 20px 0;">
			<div class="form-item">
				<label for="txt-test" class="form-label">Testeintrag</label>
				<input type="text" class="form-field" name="test" id="txt-test" value="AN1935: Biallo Relaunch 2016">
			</div>

			<div class="form-item">
				<label for="txt-test-disabled" class="form-label">Testeintrag</label>
				<input type="text" class="form-field disabled" name="test" id="txt-test-disabled" value="AN1935: Biallo Relaunch 2016" disabled="disabled">
			</div>

			<div class="form-item">
				<label for="txt-test-group" class="form-label">Testeintrag</label>
				<div class="form-field-group">
					<input type="text" class="form-field" name="test" id="txt-test-group" value="AN1935: Biallo Relaunch 2016">
					<div class="form-field-suffix">AN</div>
				</div>
			</div>

			<div class="form-item">
				<label for="txt-test-group-button" class="form-label">Testeintrag</label>
				<div class="form-field-group">
					<input type="text" class="form-field" name="test" id="txt-test-group-button" value="AN1935: Biallo Relaunch 2016">
					<div class="form-field-suffix">
						<button class="button" type="submit">
							Suchen
						</button>
					</div>
				</div>
			</div>

			<div class="form-actions">
				<button type="submit">Speichern</button>
			</div>

			<span class="icon icon-magnifier"></span>
		</form>

	</div>
</div>
</f:comment>

<f:render section="Content" />

<div id="footer" class="outer">
	<div class="inner">
		<div class="row">
			<div id="copyright" class="col-xs-12 col-sm-4"><f:cObject typoscriptObjectPath="lib.copyright" /></div>
			<div id="navigation-footer" class="col-xs-12 col-sm-8"><f:cObject typoscriptObjectPath="navigation.footer" /></div>
		</div>
	</div>
</div>