.anz-game--header {
	& {
		margin: 0 0 10px 0;
		padding: 20px 0 5px 0;
		border-bottom: 2px solid $grey-lighter;
	}

	.navigation li {
		line-height: 23px;
	}

	.anz-player--avatar {
		display: inline-block;
		padding: 0 5px 0 0;
		line-height: 24px;
		border-right: 1px solid $grey-lighter;
		vertical-align: top;
	}

	.anz-game--turn {
		& {
			display: inline-block;
			padding: 0 0 0 5px;
		}

		#anz-game--turn-count {
			width: 50px;
		}
	}
}