.qx-work {
	& {
		padding: 10px 0;
	}
}

// Board
// ---------------------------------------------------------------------------------------------------------------------


// Container
// ---------------------------------------------------------------------------------------------------------------------
.container--outer {
	max-width: 100%;
	overflow: auto;
}

.container--inner {
	width: 3500px;
	min-height: 300px;
	margin: 0 -10px 0 -10px;
}

.container {
	& {
		width: 350px;
		float: left;
		margin: 0 10px;
	}

	.container--header {
		padding: 8px 3px;
		border-bottom: 2px solid $grey-light;
	}
}

// Card
// ---------------------------------------------------------------------------------------------------------------------
.card {
	& {
		margin: 10px 0 0 0;
		background: $grey-light;
	}

	.card--header {
		padding: 5px 3px;
	}
}