// Import Qinx
// ---------------------------------------------------------------------------------------------------------------------
@import 'Qinx/form';

// Forms
// ---------------------------------------------------------------------------------------------------------------------
input[type='text'], input[type='password'], textarea, select {
	& {
		min-height: 38px;
		padding: 8px 12px;
		line-height: 22px;
		border: 0;
		background: $grey-light;
		color: darken($grey-light, 45%);
		border-radius: $border-radius-default;
	}

	&:focus {
		color: $grey-dark;
	}

	&.disabled {
		color: darken($grey-light, 20%);
	}
}

.form-label {
	padding: 0 3px 3px 3px;
	font-weight: 400;
}

// Form Group
// ---------------------------------------------------------------------------------------------------------------------
.form-field-group {
	& {
		background: $grey-light;
		border-radius: $border-radius-default;
	}

	.form-field {
		background: none;
		border-radius: 0;
	}

	.form-field-suffix {
		padding: 0;
		text-align: center;
	}
}

// Button
// ---------------------------------------------------------------------------------------------------------------------
input[type='submit'], button, .button {
	& {
		min-height: 38px;
		padding: 8px 24px;
		line-height: 22px;
		border-radius: $border-radius-default;
		background: darken($grey-light, 20%);
	}

	&:hover, &:focus, &:active {
	}
}