// Imports
// ---------------------------------------------------------------------------------------------------------------------
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

@import 'variables';
@import 'qinx';
@import 'slick';
@import 'colorbox';

@import 'Extensions/qxsurvey';
@import 'Extensions/qxaddress';
@import 'Extensions/qxgallery';
@import 'Extensions/qxanz';


// Layout
// ---------------------------------------------------------------------------------------------------------------------
body {
	& > .csc-default, & > .outer {
		& > .inner, & > .indent-normal {
			max-width: 980px;
		}
	}
}

// Footer
// ---------------------------------------------------------------------------------------------------------------------
#footer {
	& {
		margin: 10px 0 0 0;
	}

	& > .inner {
		padding: 10px 0 0 0;
		border-top: 1px solid $grey-lighter;
	}
}

#navigation-sitemap {
	& {
		margin: 0 -5px 10px -5px;
	}

	.navigation {
		& > ul > li > a {
			margin: 0 0 2px 0;
			font-weight: 600;
			color: $black;
		}

		& > ul > li > ul > li > a {
			& {
				color: $black;
			}

			&:hover, &:focus {
				color: $color-brand;
			}
		}
	}
}

#navigation-footer {
	.navigation {
		@include clearfix();
	}

	ul {
		float: right;
	}
}