// Imports
// ---------------------------------------------------------------------------------------------------------------------
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

@import 'variables';
@import 'scaffolding';
@import 'icons';

@import 'Qinx/grid';
@import 'Qinx/form';
@import 'Qinx/navigation';
@import 'Qinx/scaffolding';
@import 'Qinx/csc';
@import 'Qinx/helper';
@import 'Qinx/structure';
@import 'Qinx/message';
@import 'Qinx/list';

// Layout
// ---------------------------------------------------------------------------------------------------------------------
body {
	margin: 0;
	background: $grey-light;
}

.outer {
	& {
		max-width: 1180px;
		margin: 0 auto;
	}

	&.outer--lining {
		margin-bottom: 4px;
	}
}

.inner {
	background: $white;
}

#logo {
	a {
		line-height: 38px;
	}
}

// Navigation
// ---------------------------------------------------------------------------------------------------------------------
#navigation-main {
	a {
		& {
			color: $grey;
		}

		&:hover, &:focus {
			color: $grey-dark;
		}
	}

	.navigation {
		& > ul > li {
			& > a {
				line-height: 38px;
				font-weight: 600;
			}
		}

		& > ul > li > ul {
			& {
				top: 30px;
			}

			& > li {
				& > a {
					padding: 2px 5px;
				}
			}
		}
	}
}

// Footer
// ---------------------------------------------------------------------------------------------------------------------
#footer {
}

#navigation-footer {
	.navigation {
		@include clearfix();
	}

	ul {
		float: right;
	}
}